{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Tax calculator</h1>
                {{ form(calculatorForm)}}

            </div>
        </div>


    </div>

    {% if calculationResult %}
        <div class="container bg-light mt-2 pt-2">
            <div class="row">
                <h2>Calculation result</h2>
            </div>

            <dl class="row">
                <dt class="col-sm-1">Product:</dt>
                <dd class="col-sm-11">{{ calculationResult.product.name }}</dd>

                <dt class="col-sm-1">Price:</dt>
                <dd class="col-sm-11">{{ calculationResult.product.price }} EUR</dd>

                <dt class="col-sm-1">Tax:</dt>
                <dd class="col-sm-11">{{ calculationResult.taxAmount }} EUR ({{ calculationResult.country.taxRate.value }}% for {{ calculationResult.country.name }})</dd>

                <dt class="col-sm-1">Total:</dt>
                <dd class="col-sm-11">{{ calculationResult.taxAmount + calculationResult.product.price}} EUR</dd>
            </dl>
        </div>

    {% endif %}
{% endblock %}
